@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-base;
  padding-bottom: env(safe-area-inset-bottom); /* Ensures mobile safe area is respected */
}

html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Custom safe full height for mobile */
.h-screen-svh {
  height: 100svh;
  min-height: 100svh;
}
